[package]
name = "xrc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false

[dependencies]
candid = "0.7.14"
ic-cdk = "0.5.2"
ic-cdk-macros = "0.5.2"
futures = "0.3.23"
jaq-core = "0.8.0"
jaq-std = "0.8.0"
lazy_static = "1.4.0"
serde = "1.0.110"
serde_json = "1.0.74"
